<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Hello Ionic</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <button ion-button (click)="back()"> &lt; Back</button>

    <div *ngFor="let video of videos">
        <iframe id="ytplayer" allowfullscreen="allowfullscreen" type="text/html" width="320" height="180" [src]="video.url" frameborder="0"></iframe>
    </div>

    <button ion-button (click)="loadAll()"> Find All on YouTube </button>


    <ion-list *ngIf="playlist != null">
        <ion-item *ngFor="let song of playlist.items">
            {{song.track.name}} - {{song.track.artists[0].name}} <a (click)="loadSong(song.track.name, song.track.artists[0].name)">Find on YouTube</a>
            <ion-spinner *ngIf="song.loadingPromise != null" name="crescent"></ion-spinner>
            <iframe *ngIf="song.videoUrl != null" id="ytplayer{{song.videoId}}" allowfullscreen="allowfullscreen" type="text/html" width="106" height="60" 
            [src]="song.videoUrl" frameborder="0"></iframe>
    
        </ion-item>
    </ion-list>

    <ion-fab top="" right="">
        <button color="danger" ion-fab="" class="fab fab-ios fab-ios-danger activated"
            (click)="presentPopover($event)">
            <ion-icon class="fab-close-icon icon icon-ios ion-ios-close" name="close" role="img" aria-label="close">
            </ion-icon><span class="button-inner"><ion-icon name="add" role="img" class="icon icon-ios ion-ios-add" aria-label="add"></ion-icon>
            </span><div class="button-effect"></div>
        </button>
        New Playlist
    </ion-fab>
</ion-content>