<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img src="/assets/YouTube-logo-full_color.png" height="65" style="vertical-align:middle;"/> 
            <span >videos</span></ion-title>
    </ion-navbar>
    <!--<ion-toolbar>
        <button ion-button (click)="addToPlaylist()"> Add to YouTube playlist </button>
    </ion-toolbar>-->
</ion-header>


<ion-content padding>



    <ion-list *ngIf="youtubeSonglist != null">
        <ion-item *ngFor="let song of youtubeSonglist" (click)="showVideoDetails(song)">
            <ion-icon name="logo-youtube" style="color:#cd201f" ></ion-icon> {{song.snippet.title}}
            
        </ion-item>
    </ion-list>

</ion-content>


<ion-footer>

     
      <ion-item class="text-center" (click)="presentActionSheet()">
        <ion-icon name="more" ></ion-icon>
      </ion-item>
  
</ion-footer>