<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Select playlist</ion-title>
    </ion-navbar>
    <!--<ion-toolbar>-->
    <!--<ion-title>Controls</ion-title>-->

    <!--<button ion-button (click)="back()"> &lt; Back</button>-->
    <!--<button ion-button (click)="createNewPlaylist()"> Create New Playlist </button>-->
    <!--<button ion-button (click)="addSelectedSongsToPlaylist()"> Add selected songs to playlist </button>-->




    <!--</ion-toolbar>-->
</ion-header>


<ion-content padding>
    <form name="playlistSelect" (ngSubmit)="onSelectPlaylist()">
        <!--<ion-item>
            <ion-label>Select existing playlist</ion-label>
            <ion-select [(ngModel)]="youtubePlaylist" name="playlists">
                <ion-option *ngFor="let playlist of youtubePlaylists" value="{{playlist.id}}">{{playlist.title}}</ion-option>
            </ion-select>
        </ion-item>-->


        <ion-list radio-group [(ngModel)]="youtubePlaylist" name="playlists">
            <ion-list-header>
                Select a playlist
            </ion-list-header>

            <ion-item *ngFor="let playlist of youtubePlaylists">
                <ion-label>{{playlist.title}}</ion-label>
                <ion-radio value="{{playlist.id}}"></ion-radio>
            </ion-item>

        </ion-list>
         <ion-item >
                <button ion-button (click)="createPlaylist()" type="button">+ Create a new playlist</button>
        </ion-item>

        <button name="addSubmit" ion-button color="primary" type="submit">Add to playlist</button>
    </form>

    <!--Or

    <form name="playlistCreate">

        <ion-label>Create a new playlist</ion-label>
        <form name="playlistCreate" (ngSubmit)="onCreatePlaylist()">

            <input [(ngModel)]="newPlaylistName" type="text" name="newPlaylistName" placeholder="Enter playlist name" />

            <button name="createSubmit" ion-button color="primary" type="submit">Create playlist</button>
        </form>
    </form>-->
    <!--<ion-list *ngIf="youtubeSonglist != null">
        <ion-item *ngFor="let song of youtubeSonglist">
            <ion-checkbox [(ngModel)]="song.isSelected"></ion-checkbox>
            <ion-label>
                {{song.snippet.title}}
                <ion-spinner *ngIf="song.loadingPromise != null" name="crescent"></ion-spinner>
                <ion-icon *ngIf="song.isAdded" name="checkmark"></ion-icon>
            </ion-label>
        </ion-item>
    </ion-list>-->

</ion-content>